# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Firebase/Secrets
GoogleService-Info.plist

*.env
*.xcconfig

# Other
*.DS_Store
*.log
*.tmp
*.swp
.idea/
.vscode/