<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445930848589-muj4elg12ou0n7h2l9djv9k6h93rcd9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445930848589-muj4elg12ou0n7h2l9djv9k6h93rcd9v</string>
	<key>API_KEY</key>
	<string>AIzaSyAAPr82hB_tatzx44HBtHIfqOZNshhU1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>445930848589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akramulhasan.TaskMate</string>
	<key>PROJECT_ID</key>
	<string>taskmate-8aebc</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmate-8aebc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445930848589:ios:ca5e61acdf52ed20c0f704</string>
</dict>
</plist>